################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bake.o
codegen_x86.o
asm
.gitignore
ckl
file
